/* *{
    outline: 1px red solid;
    font-size: 24px;
} */
#mainContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
.statsContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5%;
}
.individualStatsContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    width: 200px
}
.wrapper{
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 32px;
    padding: 10px;
}
button{
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
}
.versus{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.healthValue{
    background-color: lightcoral;
    margin-bottom: 16px;
    width: 90%;
    align-self: center;
}
.defenseValue{
    background-color: lightblue;
    margin-bottom: 16px;
    width: 90%;
    align-self: center;
}
.attackValue{
    background-color: lightgreen;
    margin-bottom: 16px;
    width: 90%;
    align-self: center;
}
.largeFont{
    font-size: 36px;
}
.mediumFont{
    font-size: 20px;
}
.smallFont{
    font-size: 16px;
}
.containerForEach{
    background-color: gray;
}
#shopUI{
    text-align: center;
    margin-top: 64px;
}
.switchEnemy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    gap: 5%;
}
.individualStatsContainer{
    padding: 10px;
    border-radius: 32px;
}
#heroHealths{
    background-color: red;
}
#heroDefenses{
    background-color: blue;
}
#heroAttacks{
    background-color: lightgreen;
}